@import "tailwindcss";

@import url(../styles/reset.css);
@import url(../styles/variable.css);
@import url(../styles/fonts.css);

*,
body {
  font-family: var(--primary-font) !important;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
body {
  overflow-x: hidden;
  direction: rtl;
}
.TitleSection-landing__mainTitle {
  position: relative !important;
  display: block !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  white-space: nowrap;
}

.MuiInput-root::after,
.MuiInput-root::before,
.Mui-focused,
.MuiInput-underline,
.MuiInput-inputAdornedStart,
.MuiInput-input {
  border-bottom: unset !important;
}

.MuiAccordion-root,
.MuiAccordionSummary-root,
.MuiAccordionDetails-root {
  border: unset !important;
  box-shadow: unset !important;
  border-radius: unset !important;
  padding:  unset !important;
  margin: unset !important;
}
